html
    include ./head.pug
    include ./header.pug

    body
        include ./banner.pug

        h3(class="header center green-text") Página no encontrada
        br
        br

    include ./footer.pug
    include ./scriptsCss.pug