footer(class="page-footer green accent-4")
    div(class="footer-copyright green accent-4")
        div(class="container white-text") 2019 Copyright
        a(class="white-text text-lighten-4 right" href="#") Términos de uso y privacidad
