header
        nav(class="green accent-4" role="navigaton")
            div(class="nav-wrapper container")
                a(id="logo_container" class="brand-logo" href="/") Logo
                    //img(class="responsive-img" src="images/logo.png")
                ul(class="right hide-on-med-and-down")
                    li
                        a(href="/")
                            b INICIO
                    li
                        a(href="acercade") 
                            b ACERCA DE
                    li
                        a(href="soporte") 
                            b SOPORTE
                    li
                        a(href="faq") 
                            b FAQ
                    li
                        a(class="waves-effect waves-light btn green accent-4" href="identificarse") 
                            b Iniciar Sesión
                    li
                        a(class="waves-effect waves-light btn green accent-4" href="registro") 
                            b Registrarse
                
                ul(id="nav-mobile" class="sidenav")
                    li
                        a(href="/")
                            b INICIO
                    li
                        a(href="acercade") 
                            b ACERCA DE
                    li
                        a(href="soporte") 
                            b SOPORTE
                    li
                        a(href="faq") 
                            b FAQ
                    li
                        a(class="waves-effect waves-light btn green accent-4" href="identificarse") 
                            b Iniciar Sesión
                    li
                        a(class="waves-effect waves-light btn green accent-4" href="registro") 
                            b Registrarse
                a(class="sidenav-trigger" href="#" data-target="nav-mobile")
                    i(class="material-icons") menu