html
    include ./head.pug
    include ./header.pug

    body
        include ./banner.pug

        h3(class="header center green-text") Identificarse
        br
        br

        div(class="container")
            div(clas="section")
                div(class="row")
                    form(class="col s12" method="post" action="/peticionLogin")
                        if errorL
                            div(class="row")
                                div(class="input-field col s6")
                                    i(class="material-icons prefix red-text") error_outline
                                    label
                                        p(class="red-text") Error al iniciar sesión.
                        div(class="row")
                            div(class="input-field col s6")
                                i(class="material-icons prefix green-text") account_circle
                                input(id="usernameAcceder" name="usernameAcceder" type="text" class="validate" required="required")
                                label(for="usernameAcceder") Usuario (Email)

                            div(class="input-field col s6")
                                i(class="material-icons prefix green-text") lock
                                input(id="passwordAcceder" name="passwordAcceder" type="password" class="validate" required="required")
                                label(for="passwordAcceder") Contraseña

                        div(class="row")
                            div(class="input-field col s6")
                                i(class="material-icons prefix green-text") error_outline
                                label
                                    a(href="/recuperarPass") He olvidado la contraseña
                            div(class="input-field col s6")
                                button(class="waves-effect waves-light btn green accent-4" type="submit" name="action") Acceder
                                    i(class="material-icons right") chevron_right

    include ./footer.pug
    include ./scriptsCss.pug