html
    include ./head.pug
    include ./header.pug

    body
        div(id="index-banner" class="parallax-container valign-wrapper")
            div(class="section no-pad-bot")
                div(class="container")
                    h1(class="header center white-text text-white-2") Unichat
                    div(class="row center")
                        h5(class="header col s12 light") Frase molona
            div(class="parallax")
                img(src="images/Banner11.png" alt="Unsplashed background img 1")

        h3(class="header center green-text") Comencemos
        br
        br
        
        div(class="container")
            div(clas="section")
                div(class="row")
                    div(class="col s6")
                        p Bienvenido, porfavor, selecciona las asignaturas que vas a cursas de la siguiente lista.
                div(class="row")
                    form(class="col s12" method="post" action="/procesaPrimerInicio")
                        for val in asign
                            div(class="row")
                                div(class="input-field col s6")
                                    label
                                        input(class="with-gap green-text" name=val type="radio")
                                        span= val
                        div(class="row")
                            div(class="input-field col s6")
                                    button(class="waves-effect waves-light btn green accent-4" type="submit" name="action") Siguiente
                                        i(class="material-icons right") chevron_right

    include ./footer.pug
    include ./scriptsCss.pug